.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.cell::after{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: 1px;
    top: 1px;
    border: 1px solid #fff;
}

.fill {
    background: rgb(37, 179, 108);
}

.active {
    background: rgb(51, 255, 0);
}
