.field,
.aside {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.field{
    margin: 2px;
}

.status,
.score {
    border: 1px solid #fff;
    margin: 2px;
    height: 30px;
    padding: 3px 6px;
    width: 80px;
    display: flex;
    align-items: center;
    color: #000;
    background: #fff;
}

.wrapper{
    font-size: 0;
    float: left;
    margin-top: 20px;
}
